<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
  >

<Package UpgradeCode="82C2C0C4-7437-4270-B941-F7C116DD8C6F" Language="1033"
  Manufacturer="Bob -- K6RWY" Name="pp"
  Version="1.17.10" InstallerVersion="500"
  >

  <SummaryInformation Manufacturer="Bob -- K6RWY" Description="Installs pp"
    Comments="Copyright (c) Bob -- K6RWY"
    />

  <MajorUpgrade Schedule="afterInstallInitialize"
    AllowDowngrades="no" IgnoreRemoveFailure="no" AllowSameVersionUpgrades="no"
    DowngradeErrorMessage="A newer version of [ProductName] is already installed."
    />

  <MediaTemplate EmbedCab="yes" />

  <WixVariable Id="WixUILicenseRtf"
                              Value="$(var.SolutionDir)..\..\Library\License\MITLicenseFile.rtf" />

  <Property Id="WIXUI_INSTALLDIR" Value="PRINT_PROGRAM_PP.PFF" />

  <UI Id="My_InstallDir.ui">
    <ui:WixUI Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp" />
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp" />


  <Feature Id="ProductFeatures" Title="Main Product" Level="1">
    <ComponentGroupRef Id="pp.ftr" />
  </Feature>
</Package>

<Fragment>
  <ComponentGroup Id="pp.ftr">
    <ComponentRef Id="pp.cmp" />
  </ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Property Id="ApplicationFolderName" Value="Print Program (pp)" />
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />

  <StandardDirectory Id="ProgramFiles6432Folder">
    <Directory Id="PRINT_PROGRAM_PP.PFF" Name="Print Program (pp)" />
  </StandardDirectory>
</Fragment>

<Fragment>
  <Component Id="pp.cmp" Guid="C57F4F46-3B3E-408F-9A66-BBB1C0256F49"
                                                                  Directory="PRINT_PROGRAM_PP.PFF">
    <File Id="pp.cmp" Source="$(var.pp.TargetDir)\..\Release.Win32\pp.exe" KeyPath="yes" />
    <Environment Id="PATH"
                 Name="PATH"
                 Value="[PRINT_PROGRAM_PP.PFF]"
                 Permanent="no"
                 Part="last"
                 Action="set"
                 System="yes"
                 />
  </Component>
</Fragment>
</Wix>
